<div class="shadow-lg rounded-lg overflow-hidden">
  <div class="py-3 px-5 bg-gray-50"></div>
  <canvas 
    class="p-10" 
    id="chartDoughnut"
    realizadas="<%= realizadas %>" 
    pendientes="<%= pendientes %>"
  
  ></canvas>
</div>

<!-- Required chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart doughnut -->
<script>
  var chartDoughnut = document.getElementById("chartDoughnut");
  var realizadas = chartDoughnut.getAttribute('realizadas');
  var pendientes = chartDoughnut.getAttribute('pendientes');

  const dataDoughnut = {
    labels: ["Simulaciones Realizadas", "Simulaciones Pendientes"],
    datasets: [
      {
        label: "Cantidad",
        data: [realizadas, pendientes],
        backgroundColor: [
          "#45B39D",
          "#CB4335"
        ],
        hoverOffset: 4,
      },
    ],
  };

  const configDoughnut = {
    type: "doughnut",
    data: dataDoughnut,
    options: {},
  };

  var chartBar = new Chart(
    chartDoughnut,
    configDoughnut
  );
</script>