<div class="grafico-polar shadow-lg  rounded-lg overflow-hidden">
  <canvas 
  class="p-10" 
  id="chartRadial2"
  si = <%= presencia_yes2 %>
  no = <%= presencia_no2 %>
  quizas = <%= presencia_quizas2 %>
  ></canvas>
</div>

<!-- Required chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart -->
<script>

var chartradial2 = document.getElementById("chartRadial2");
var si2 = chartradial2.getAttribute('si');
var no2 = chartradial2.getAttribute('no');
var quizas2 = chartradial2.getAttribute('quizas');

const data2 = {
  labels: [
    'No',
    'Quizas',
    'Si',
  ],
  datasets: [{
    label: 'Cantidad',
    data: [no2, quizas2, si2],
    backgroundColor: [
      '#167E03',
      '#AEB8B9',
      '#7E1803',
    ]
  }]
};

const config2 = {
  type: 'polarArea',
  data: data2,
    options: {
    responsive: true,
    scales: {
      r: {
        pointLabels: {
          display: true,
          centerPointLabels: true,
          font: {
            size: 18
          }
        }
      }
    },
  },
};

var chartRadial2 = new Chart(
  chartradial2,
  config2
);
</script>