<h1><%= "#{@user.nombre} #{@user.apellido}" %></h1>

<% if current_user.id == @user.id%>
    <%= link_to "Editar Perfil", edit_user_path(current_user.id) %>
<% else %>
    <% if can? :edit, User %>
        <%= link_to "Editar Usuario", edit_user_path(id: @user.id) %>
    <% end %>
<% end %>


<% if can? :destroy, User %>
    <%= button_to "Eliminar Usuario", destroy_user_path(id: @user.id), method: :delete %>
<% end %>