// Place all the styles related to the microasalto_encuesta_finals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*multi-step-form*/

#form-microasalto-final {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#form-microasalto-final fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 10%;
    box-sizing: border-box;
    /*stacking fieldsets above each other*/
    position: absolute;
    width: 100%;
}

#form-microasalto-final .field-buttons {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
}


/*Hide all except first fieldset*/

#form-microasalto-final fieldset:not(:first-of-type) {
    display: none;
}


/*inputs*/

#form-microasalto-final textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}


/*radio-buttons*/

#form-microasalto-final input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    padding: 0em;
    margin-right: 20px;
}

#form-microasalto-final input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

#form-microasalto-final input[type="radio"]:checked::before {
    transform: scale(1);
}

#form-microasalto-final input[type="radio"]:focus {
    outline: max( 0.125em, 0.15em) solid currentColor;
    outline-offset: max( 0.125em, 0.15em);
}


/*radio-button*/

#form-microasalto-final .radio-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}


/*buttons*/

#form-microasalto-final .previous-microasalto-final {
    width: 100px;
    background: #969696;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#form-microasalto-final .previous-microasalto-final:hover,
#form-microasalto-final .previous-microasalto-final:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #969696;
}

#form-microasalto-final .next-microasalto-final {
    width: 100px;
    background: #4da090;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#form-microasalto-final .next-microasalto-final:hover,
#form-microasalto-final .next-microasalto-final:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #4da090;
}


/*headings*/

#form-microasalto-final .fs-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #63a2cb;
    margin-bottom: 10px;
}

#form-microasalto-final .fs-subtitle {
    font-weight: normal;
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}


/*progressbar-microasalto-final*/

#progressbar-microasalto-final {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#progressbar-microasalto-final li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 20%;
    float: left;
    position: relative;
}

#progressbar-microasalto-final li:before {
    content: counter(step);
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

#progressbar-microasalto-final li:not(:first-child):before {
    counter-increment: step;
}


/*progressbar-microasalto-final connectors*/

#progressbar-microasalto-final li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar-microasalto-final li:first-child:after {
    /*connector not needed before the first step*/
    content: none
}


/*marking active/completed steps green*/


/*The number of the step and the connector before it = green*/

#progressbar-microasalto-final li.active:before,
#progressbar-microasalto-final li.active:after {
    background: #4da090;
    color: white;
}

#form-microasalto-final .boton-enviar {
    width: 100px;
    background: #4da090;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.multiple-choices-question {
    text-align: left !important;
}