<!----------------- Sidebar ----------------->
<div id="sidenav-open" class="sidebar z-30 ">
  <nav class="flex flex-col justify-between  h-full p-5 bg-gray-800 ">
    <div>
      <% if !current_user.encargado %>
        <a href="/simulaciones" class="flex items-center p-3 rounded-xl hover:bg-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="mr-2 w-7 text-white" fill="currentColor">
        <path d="M576 64H64C28.7 64 0 92.7 0 128V384c0 35.3 28.7 64 64 64H184.4c24.2 0 46.4-13.7 57.2-35.4l32-64c8.8-17.5 26.7-28.6 46.3-28.6s37.5 11.1 46.3 28.6l32 64c10.8 21.7 33 35.4 57.2 35.4H576c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64zM224 240c0 35.3-28.7 64-64 64s-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64zm256 64c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z"/>
        </svg>
          <span class="text-white">Simulaciones</span>
        </a>
              
        <a href="/resultados/<%= current_user.id%>" class="flex items-center p-3 rounded-xl hover:bg-gray-200">
          <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 w-7 text-white" fill="currentColor"
            viewBox="0 0 16 16">
            <path
              d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z" />
            <path
              d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
            <path
              d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
          </svg>
          <span class="text-white">Resultados</span>
        </a>

      <%else%>

      <a href="/" class="flex items-center p-3 rounded-xl hover:bg-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 w-7 text-white" fill="currentColor"
          viewBox="0 0 16 16">
          <path
            d="M6 1H1v14h5V1zm9 0h-5v5h5V1zm0 9v5h-5v-5h5zM0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1V1zm1 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1h-5z" />
        </svg>
        <span class="text-white">Dashboard</span>
      </a>
      <% if can? :show, Empresa %>
        <a href="/empresas/<%= current_user.empresa.id %>" class="flex items-center p-3 rounded-xl hover:bg-gray-200">
          <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 w-7 text-white" fill="currentColor"
            viewBox="0 0 16 16">
            <path
              d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
          </svg>
          <span class="text-white whitespace-nowrap">Mi Empresa</span>
        </a>
      <% end %>
      <% end %>


  </nav>

  <a href="#" id="sidenav-close" title="Close Menu" aria-label="Close Menu"></a>
</div>